<a href="/upload">На главную</a>

<p>Тип файла: <?= htmlspecialchars($file->getType()) ?></p>
<p>Имя файла: <?= htmlspecialchars($file->getName()) ?></p>
<p>Размер файла: <?= htmlspecialchars($filesize) ?> Mb</p>
<p>Врремя загрузки: <?= htmlspecialchars($file->getUploadtime()) ?></p>
<p>Комментарий: <?= htmlspecialchars($file->getComment()) ?></p>

<? if($showimg): ?><img src="../files/<?=$file->getCode()?>.<?=$file->getName() ?>" alt="превью недоступно" style="width: 250px;"><? endif; ?>

<form method='get' action=''>
	<input type='submit' name="submit" value='скачать' />
</form>
	

