{% extends "base.html" %}

{% block content %}

    <a href="/upload">На главную</a>

    <p>Тип файла: {{ file.getType() }} </p>
    <p>Имя файла: {{ file.getName() }} </p>
    <p>Размер файла: {{ filesize }} Mb </p>
    <p>Врремя загрузки: {{ file.getUploadtime() }} </p>
    <p>Комментарий: {{ file.getComment() }} </p>

    {% if(showimg) %}
    
        <img src="../files/{{ file.getCode() }}.{{ file.getName() }}" alt="превью недоступно" style="width: 250px;">

    {% endif %}

    <form method='get' action=''>
    	<input type='submit' name="submit" value='скачать' />
    </form>

{% endblock %}