{% extends "base.html" %}

{% block content %}

    <form method='post' action='' enctype='multipart/form-data'>
    	Выберите файл: <input type='file' name='filename' size='10' /><br><br>
    	Комментарий: <input type='text' name='comment' size='100' maxlength="500" /><br><br>
    	<input type='submit' value='Загрузить' />
    </form>

    {% if(load) %}

    	<p>Тип файла: {{ file.getType() }} </p>
    	<p>Имя файла: {{ file.getName() }} </p>
    	<p>Размер файла: {{ file.getSize() }} </p>
    	<p>Ваш комментарий: {{ file.getComment() }} </p>
    	<p>Ваша ссылка: <a href="file/{{ id }}">file/{{ id }}</a></p>
        
    {% endif %}

    <a href="list">Последние загруженные</a>

{% endblock %}